<template>
  <div class="page-header">
    <nuxt-link to="/" class="link">Home page</nuxt-link>
    <nuxt-link to="subpage1" class="link">Subpage 1</nuxt-link>
    <nuxt-link to="subpage2" class="link">Subapge 2</nuxt-link>
    <nuxt-link to="subpage3" class="link">Subapge 3</nuxt-link>
    <nuxt-link to="subpage4" class="link">Subapge 4</nuxt-link>
    <nuxt-link to="subpage5" class="link">Subapge 5</nuxt-link>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="css">
  .page-header {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding-right: 15px;
  }

  .link {
      padding: 10px 15px;
      color: #000
    }
</style>
